[submodule "rust/sparrowhawk-asm"]
	path = rust/sparrowhawk-asm
	url  = https://github.com/bacpop/sparrowhawk-asm.git
	branch = master

[submodule "rust/ska.rust"]
	path = rust/ska.rust
	url  = https://github.com/bacpop/ska.rust.git
    branch = sparrowhawk-dev

[submodule "rust/sketchlib.rust"]
	path = rust/sketchlib.rust
	url  = https://github.com/bacpop/sketchlib.rust.git
	branch = sparrowhawk-dev

[submodule "rust/sparrowhawk-amr"]
	path = rust/sparrowhawk-amr
	url = https://github.com/bacpop/sparrowhawk-amr.git
    branch = master

[submodule "rust/mandrake"]
	path = rust/mandrake
	url = https://github.com/bacpop/mandrake.rust.git
	branch = main
