[submodule "rust/sparrowhawk"]
	path = rust/sparrowhawk
	url  = https://github.com/bacpop/sparrowhawk.git
    branch = master
    
[submodule "rust/ska.rust"]
	path = rust/ska.rust
	url  = https://github.com/bacpop/ska.rust.git
    branch = sparrowhawk-dev

[submodule "rust/sketchlib.rust"]
	path = rust/sketchlib.rust
	url  = https://github.com/bacpop/sketchlib.rust.git
	branch = sparrowhawk-dev
